@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&display=swap");
@import "tailwindcss";

@theme {
  --font-body: "JetBrains Mono", monospace;
  --font-ui: "Press Start 2P", system-ui;
}
