---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<section id="about">
			<h2 class="text-5xl text-center md:text-7xl">About</h2>
			<p class="p-5">
				Egresada de Desarrollo de Software. Actualmente en proceso de convertirme en ingeniera.
			</p>
		</section>
	</main>
</Layout>

