---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section class="flex justify-center items-center">
    <div
      class="w-[80%] max-w-3xl text-neutral-600 font-[380] mt-[100px] lg:mt-[180px]"
    >
      <div>
        <h2 class="text-neutral-900 pb-6 text-xl italic">Hello, I'm Wendy.</h2>
        <p class="leading-[25px] pb-4">
          My journey in engineering began with a technological high school
          diploma in Software Development, where I graduated with honors.
          Currently, I am pursuing a degree in Computer Science Engineering at
          the University of Guadalajara.
        </p>
        <p class="leading-[25px] pb-6">
          Outside of my career and studies, I enjoy sharing videos on my <a
            href="https://www.youtube.com/@WENDYAWN"
            target="_blank"
            rel="noopener noreferrer"
            class="text-neutral-900 underline bg-blue-200 hover:text-neutral-500"
            >YouTube</a
          > channel, playing basketball, and lifting weights.
        </p>
      </div>
    </div>
  </section>
</Layout>
