---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section class="flex justify-center items-center">
    <div
      class="w-[80%] max-w-3xl text-neutral-600 font-[380] mt-[100px] lg:mt-[180px]"
    >
      <div>
        <h2 class="text-neutral-900 pb-6 text-xl">
          Hola, soy Wendy.
          <!-- Abo<span class="italic">ut</span> -->
        </h2>
        <p class="leading-[25px] pb-4">
          Mi camino en la ingeniería comenzó con un bachillerato tecnológico en
          Desarrollo de Software, donde me gradué y titulé con excelencia
          académica. Actualmente, curso la licenciatura en Ingeniería en
          Ciencias Computacionales en la Universidad de Guadalajara.
        </p>
        <p class="leading-[25px] pb-4">
          Soy una persona apasionada por el aprendizaje, siempre busco adquirir
          nuevas habilidades. En este momento, estoy mejorando mi inglés con la
          meta de alcanzar un nivel B2, y recientemente, he comenzado a aprender
          chino.
        </p>
        <p class="leading-[25px] pb-6">
          Además de programar, descubrí mi gusto por la enseñanza y decidí
          compartir mis conocimientos en mi canal de YouTube. También ofrezco
          clases de programación y matemáticas a mis compañeros de universidad.
        </p>
      </div>
    </div>
  </section>
</Layout>
