---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wendy Rizo">
  <main class="flex justify-center items-center">
    <div
      class="w-[80%] max-w-3xl text-neutral-600 font-[380] mt-[100px] lg:mt-[180px]"
    >
      <div>
        <h1 class="text-neutral-900 pb-6 text-xl">
          We<span class="italic">n</span>dy Ri<span class="italic">z</span>o
        </h1>
        <p class="leading-[25px] pb-4">
          Computer Science Engineering student based in Jalisco, MX.
        </p>
        <p class="leading-[25px] pb-4">
          Currently focused on my studies and working on personal projects.
        </p>
        <div class="mt-6">
          <p class="leading-[25px] pb-4">
            Check out my latest
            <a
              href="/work"
              class="text-neutral-900 underline bg-blue-200 hover:text-neutral-500"
              >work.</a
            >
          </p>
          <p class="leading-[25px] pb-4">
            For professional inquiries, see my <a
              href="https://drive.google.com/file/d/17lEG31MFW3aoGoBHrdDBJOPLshewlRRN/view?usp=drive_link"
              target="_blank"
              rel="noopener noreferrer"
              class="text-neutral-900 underline hover:text-neutral-500">CV</a
            > or
            <a
              href="mailto:wendymtnezrizo@gmail.com"
              class="text-neutral-900 underline hover:text-neutral-500 transition"
            >
              get in touch.
            </a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
