---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Wendy Rizo - Portfolio" />
<main class="mx-auto w-full max-w-3xl p-4 sm:p-6 lg:p-8">
  <Hero />
  <Projects />
  <Footer />
</main>
<Layout />
