---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wendy Rizo">
  <main class="flex justify-center items-center">
    <div
      class="w-[80%] max-w-3xl text-neutral-600 font-[380] mt-[100px] lg:mt-[180px]"
    >
      <div>
        <h1 class="text-neutral-900 pb-6">
          We<span class="italic">n</span>dy Ri<span class="italic">z</span>o
        </h1>
        <p class="leading-[25px] pb-4">
          Computer Science & Engineering student based in Jalisco, MX.
        </p>
        <p class="leading-[25px] pb-4 w-11/12">
          Currently focused on my studies and working on personal backend
          projects.
        </p>
        <div class="mt-6">
          <p class="leading-[25px] pb-4 w-11/12">
            Explore my
            <a
              href="/work"
              class="text-neutral-900 underline bg-blue-200 hover:text-neutral-500"
              >work</a
            >
            or
            <a
              href="mailto:tuemail@example.com"
              class="text-neutral-900 underline bg-blue-200 hover:text-neutral-500 transition"
            >
              get in touch
            </a>.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
