---
import Project from "../layouts/Project.astro";
---

<Project title="mobypay">
    <p>
        mobypay nace de la idea de mejorar el servicio de transporte para el
        usuario
    </p>
</Project>
