---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Work">
    <section>
        <h2 class="text-5xl text-center md:text-7xl">Work</h2>
        <div>
            <h3 class="text-2xl p-5 italic">
                <a href="/">mobypay</a>
            </h3>
            <h3 class="text-2xl p-5 italic"><a href="/">stocknet</a></h3>
        </div>
    </section>
</Layout>
