<footer class="flex flex-col items-center gap-4 text-sm text-gray-400 p-4">
  <span
    >Made with 💻 & ☕ by <a href="/" class="hover:underline">Wendy Rizo</a
    ></span
  >
  <nav class="flex flex-wrap gap-4 font-medium">
    <a href="mailto:wendymartinezrizo@gmail.com" class="hover:underline"
      >Contact</a
    >
    <a
      href="https://www.linkedin.com/in/wendyrizo/"
      target="_blank"
      class="hover:underline">LinkedIn</a
    >
    <a
      href="https://github.com/wendyrizo"
      target="_blank"
      class="hover:underline">GitHub</a
    >
  </nav>
</footer>
