<header class="flex justify-center items-center p-3 w-full">
  <nav class="flex flex-row gap-x-10 text-neutral-700 uppercase">
    <h2><a href="/">W</a></h2>
    <a href="/work">work</a>
    <a href="/about">about</a>
  </nav>
</header>
