<header class="flex justify-center items-center p-3 w-full">
    <nav class="flex flex-row gap-x-10 uppercase">
        <h3><a href="/">W</a></h3>
        <a href="/work">Work</a>
        <a href="/about">About</a>
    </nav>
</header>
