---
import LinkButton from "./LinkButton.astro";
import Badge from "./Badge.astro";
---

<section class="mt-16 space-y-6">
  <header class="flex flex-col items-center text-center space-y-3">
    <img
      src="/me.webp"
      alt="Profile picture of Wendy Rizo"
      height="120"
      width="120"
      class="aspect-square object-cover rounded-full"
    />
    <div class="flex flex-wrap gap-2 items-center justify-center">
      <h1 class="font-bold text-2xl">Wendy Rizo</h1>
      <Badge class="border border-blue-900 bg-blue-950/50 text-blue-300">
        Software Developer
      </Badge>
    </div>
  </header>

  <p class="text-pretty text-slate-200">
    I build tools and experimental projects with an interest in systems, data
    analysis, and low-level concepts, often exploring ideas through C/C++ and
    Linux-based environments.
  </p>

  <nav class="flex flex-wrap gap-2 w-full">
    <LinkButton
      href="mailto:wendymartinezrizo@gmail.com"
      class="flex-2 bg-blue-900 hover:bg-blue-900/80"
    >
      Contact
    </LinkButton>
    <LinkButton
      href="https://www.linkedin.com/in/wendyrizo/"
      class="flex-1 bg-slate-800 hover:bg-slate-800/80"
    >
      LinkedIn
    </LinkButton>
    <LinkButton
      href="https://github.com/wendyrizo"
      class="flex-1 bg-slate-800 hover:bg-slate-800/80"
    >
      GitHub
    </LinkButton>
    <LinkButton href="/" class="flex-1 bg-slate-800 hover:bg-slate-800/80">
      Download CV
    </LinkButton>
  </nav>
</section>
