---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="bg-[#5b7c99]
    px-5 py-2
    font-bold
    uppercase
    tracking-widest
    border-4 border-black
    shadow-[4px_4px_0_0_#000]
    hover:translate-x-0.5
    hover:translate-y-0.5
    hover:shadow-[2px_2px_0_0_#000]
    active:translate-x-1
    active:translate-y-1
    active:shadow-none
    transition-all
    duration-100"
  }
>
  <slot />
</a>
