---
import "../styles/global.css";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="imamd:max-w-[420px] m-6 md:m-20 text-neutral-500 font-[380] mt-[100px] lg:mt-[180px]ge/svg+xml"
      href="/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Wendy Rizo - Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }

  html {
    font-family: "Inter Variable", sans-serif;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    color: white;
  }

  body {
    min-height: 100vh;
    background-color: #1a1b26;
    color: #d1d5dc;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
